.first-slide {
    background-color : darkseagreen !important;
}
.second-slide {
    background-color : darkseagreen !important;
}
.third-slide {
    background-color : darkseagreen !important;
}
.forth-slide {
    background-color : darkseagreen !important;
}
.fifth-slide {
    background-color : darkseagreen !important;
}
